/*Minerva Chen INFO 343 SID: 1128429*/
/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/brick.jpg);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}
p {
    margin: 5px;
    font-style: bold;
}
.modal-content{
    color: white;
    background-color: black;
}
.cart button{
    display: block;
}

.btn-primary{
    margin: 5px center;
}

button.template{
    display: none;
}

.btn-default{
    background-color: #424242;
    color: white;
    border-radius: 7px;
}
:focus {
        outline: white dotted 2px;
        background-color: #AB82FF;
}

.text-box{
    margin: 10px auto;
    padding: 5px;
}

.logo{
    background-color: black;
    opacity: .9;
}

.logo:hover{
    opacity: 1;
}
/* creates black content box with gray shadow*/
.container{
    width: 80%;
    background-color: black;
    margin: 10px auto;
    box-shadow: 6px 6px 12px #555;
    padding: 10px;
    color: white;
    font-size: 85%;
    overflow: hidden;
}

.head {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.pizzaMenu , .vegpizzas{
    margin: 10px auto;
    padding: 20px;
    color: #D0A9F5;
    overflow: hidden;
}

.drinks {
    color: white;
    text-align: center;
    font-variant: small-caps;
    padding: 10px;
}

.desserts {
    color: white;
    text-align: center;
    font-variant: small-caps;
    padding: 10px;
}

dl{
    font-size: 90%;
    color: white;
    font-variant: small-caps;
    margin: 5px;
}


h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: verdana, sans-serif;
    color: white;
    font-variant: small-caps;
    text-shadow: .1em .1em #333;
    text-align: center;
}

h2{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: white;
    font-family: "Times New Roman", sans-serif;
    text-shadow: 0.05em .1em black;
    text-align: center;
}

h3 {
    text-align: center;
    margin: 5px;
    color: #FFFFCC;
    font-style: italic;
    font-weight: bold;
}

h4{
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

dt{
    font-variant: small-caps;
    margin: 5px;
}

.well{
    background-color: #424242;
    width: 80%;
    margin: 10px auto;
}
/*this is the footer*/
.footer {
    border-width: 2px;   
    border-top-style: groove;
    margin-top: 10px;
    border-color: purple;
    font-size: 90%;
    font-style: italic;
    color: white;
    text-shadow: 0.05em .1em black;
}

/*keeps all pictures floated to the left*/
.pic {
    float: left;
    margin: 10px;
}

ul{
    color: #D0A9F5;
    margin: 5px;
}

/*navigation bar is dark purple, and turns light purple when hovered over*/
nav ul {
        background-color: #52197E;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
}
nav li {
        display: inline-block;
}
nav a {
        margin: auto;
        display: inline-block;
        padding: 10px;
        color: #FFF;
        font-weight: bold;
        font-size: 90%;
}
nav a:link, 
nav a:visited {
        text-decoration: none;
}
nav a:hover {
        background-color: #AB82FF;
        border-radius: 5px;
}

li a:visited {
    color: white;
}

li a:hover {
        color: #FFFFCC;
        text-decoration: none;
}